body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
      color: white;
     
}
.state_1{
transition: opacity 0.33s ease-in-out; /* Плавное изменение opacity за 0.8 секунд */
}
.state_2{
    position: absolute;
    opacity: 0;
transition: opacity 0.8s ease-in-out; /* Плавное изменение opacity за 0.8 секунд */
}
.state_3{
    position: absolute;    
    opacity: 0;
transition: opacity 0.8s ease-in-out; /* Плавное изменение opacity за 0.8 секунд */
}
.state_4{
    position: absolute;    
    opacity: 0;
transition: opacity 0.8s ease-in-out; /* Плавное изменение opacity за 0.8 секунд */
}
.state_5{
    position: absolute;    
    opacity: 0;
transition: opacity 0.8s ease-in-out; /* Плавное изменение opacity за 0.8 секунд */
}
.section {
    min-height: 100vh; /* Минимальная высота вместо фиксированной, чтобы разрешить контенту быть больше, если нужно */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

/* Удаление pointer-events: none; если не нужно */
.section::before, .section::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 15%;
}

.section::before {
    pointer-events: none;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}

.section::after {
    pointer-events: none;
    bottom: 0;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
} 
  
 #page1 {
     background-color: #161616;
    background-image: url('bg1.jpg'); /* Убедитесь, что путь к изображению правильный */
    background-repeat: repeat; /* Предотвращает повторение изображения */
    background-position: left bottom;
    background-position-x: 50%;
    background-position-y: 50%;      
    background-size: 2048px 1024px; /* Фиксированный размер изображения */
    background-repeat: repeat-x;
  
}
  
  #page2 {
    background-color: #161616;
    background-image: url('bg1.jpg'); /* Убедитесь, что путь к изображению правильный */
    background-repeat: repeat; /* Предотвращает повторение изображения */
    background-position: left bottom;
    background-position-x: 50%;
    background-position-y: 50%;      
    background-size: 2048px 1024px; /* Фиксированный размер изображения */
    background-repeat: repeat-x;
  }
  
  #page3 {
    background-color: #161616;
    background-image: url('bg1.jpg'); /* Убедитесь, что путь к изображению правильный */
    background-repeat: repeat; /* Предотвращает повторение изображения */
    background-position: left bottom;
    background-position-x: 50%;
    background-position-y: 50%;      
    background-size: 2048px 1024px; /* Фиксированный размер изображения */
    background-repeat: repeat-x;
  }
  
  #page4 {
    background-color: #161616;
    background-image: url('bg1.jpg'); /* Убедитесь, что путь к изображению правильный */
    background-repeat: repeat; /* Предотвращает повторение изображения */
    background-position: left bottom;
    background-position-x: 50%;
    background-position-y: 50%;      
    background-size: 2048px 1024px; /* Фиксированный размер изображения */
    background-repeat: repeat-x;
  }
  
  #page5 {
    background-color: #161616;
    background-image: url('bg1.jpg'); /* Убедитесь, что путь к изображению правильный */
    background-repeat: repeat; /* Предотвращает повторение изображения */
    background-position: left bottom;
    background-position-x: 50%;
    background-position-y: 50%;      
    background-size: 2048px 1024px; /* Фиксированный размер изображения */
    background-repeat: repeat-x;
  }
  .container {
    opacity: 0; 
    width: 100%; /* Занимает 100% ширины родителя */
    max-width: 1280px; /* Максимальная ширина контейнера */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    transition: opacity 2s ease-in-out; 
  }
  .container span {
    display: block; /* Блочный элемент, чтобы занимать всю ширину и быть на отдельной строке */
    color: #ffffff; /* Цвет первой строки, синий */
    font-size: 18px; /* Размер шрифта первой строки */
    font-weight: bold; /* Жирное начертание */
}
  .logo {
    position: absolute;
    top: 25px;
    left: calc(4.5vw);
    width: 200px;
    opacity: 0.9;
  }
  .vignette-left, .vignette-right {
    position: absolute;
    height: 100%;
    width: 200px;
    opacity: 0.9;
    mix-blend-mode: multiply; /* Применение режима multiply */
}

.vignette-left {
    left: 25px;
}
#textBlock {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.5s, visibility 2.5s;
}#scrollBlock {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.5s, visibility 2.5s;
}
.vignette-right {
    right: 25px;
    transform: scaleX(-1); /* Зеркальное отображение вигнетты */
}
.bot-container {
    position: absolute;
    left: calc(4.5vw);
    bottom: 100px;
    width: 100%;
    text-align: left; /* Выравнивание текста по центру контейнера */
    padding: 10px; /* Отступы вокруг текста */
    width: 100%; /* Устанавливаем ширину 100%, но не больше 640px */
    max-width: 640px; /* Максимальная ширина контейнера */
}
@media (max-width: 640px) {
    .bot-container {
        width: 100%; /* На экранах шириной меньше 640px контейнер занимает 100% ширины */
    }
}

@media (max-width: 320px) {
    .bot-container {
        width: 320px; /* Фиксируем ширину в 320px на очень маленьких экранах */
    }
}
.text-item {
   font-family: 'Roboto', sans-serif;
   font-size: calc(32px + 2vw);
    font-weight: bold; /* Жирное начертание текста */
    margin: -10px 0; /* Отступы между элементами текста */
}

.text-item:nth-child(1) { /* Стили для первого текста */
    color: rgb(255 255 255);
}

.text-item:nth-child(2) { /* Стили для второго текста */
    color: rgb(227 63 123);
}

.text-item:nth-child(3) { /* Стили для третьего текста */
    color: white;
}

.subtext-item {
    position: relative;
    right: 0px; /* Динамическое смещение влево */
    top: 0; /* Динамическое вертикальное смещение */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: calc(9px + 0.5vw); /* Динамический размер шрифта */
    margin: 0;
    transition: all 0.3s ease; /* Плавные переходы для всех изменений */
}
.top-right-menu {
   
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 22px;
    right: 25px;
    display: inline-block; /* Убедитесь, что элемент видим по умолчанию */
}

.top-right-menu a {
   
    text-decoration: none;
    color: #d2d2d2; /* Темно-серый цвет текста */
    padding: 0px;
    display: inline-block;
    font-size: 16px;
    transition: color 0.3s; /* Плавное изменение цвета */
    opacity: 1; /* Полная видимость */
    visibility: visible; /* Элемент видим */
    transition: opacity 0.5s, visibility 0.5s;
}

.top-right-menu a:hover {
    transform: scale(1.02); 
    color: #ffffff; /* Светлее при наведении */
}
@media (max-width: 699px) {
    .top-right-menu {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0s 0s; /* Убираем задержку при показе */
        pointer-events: none;
    }
}
.dropbtn:focus {
    outline: none;
}
.language-link {
    text-decoration: none;
    color: #d2d2d2; /* Цвет текста */
    padding: 8px 15px; /* Внутренние отступы для создания пространства вокруг текста */
    font-size: 16px;
    border: 2px solid rgba(210, 210, 210, 0.5); /* Прозрачная серебристая рамка */
    border-radius: 8px; /* Скругление углов рамки */
    transition: color 0.3s, border-color 0.3s; /* Плавное изменение цвета и рамки */
}

.language-link:hover {
    color: #ffffff; /* Светлее при наведении */
    border-color: rgba(255, 255, 255, 0.75); /* Более яркая и более прозрачная рамка при наведении */
}
.ScrollDown {
    position: absolute;
    bottom: 12.5vw;
    right: 6.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Начальное состояние прозрачности, чтобы элемент был невидим сначала */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
p {
    color: #e1e1e1; /* Основной цвет текста */
    font-size: 16px; /* Размер шрифта */
    text-align: center; /* Центрирование текста */
}
.page2-container span {
    display:inline; /* Блочный элемент, чтобы занимать всю ширину и быть на отдельной строке */
    color: rgb(227 63 123); /* Цвет первой строки, синий */
    font-size: 24px; /* Размер шрифта первой строки */
    font-weight: bold; /* Жирное начертание */
    margin: 0 5px;
} 

.page2-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px; /* или другое значение, подходящее для вашего дизайна */
}

.text-container {
    text-align: center;
    margin-bottom: 15%;
}


.chart-container {
    transform: translateY(10%);
    width: 100%;
    max-height: 800px;            
    height: auto !important;
}

#fileCountChart {
    width: 100% !important;
}
#page3 .page3-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px; /* или другое значение, подходящее для вашего дизайна */
}

#page3 .text-container {
    text-align: center;
    margin-bottom: 20px;
}
.animated-block {
    position: fixed;
    width: 100%;
    height: 80%;
    z-index: 10;
    transition: transform 0.1s ease-in-out;
    top: 0;
    transform: translateY(-200%); /* Убедитесь, что блоки изначально не видны */
    display: block; /* Убедитесь, что блоки не скрыты другим свойством display */
}
.animated-block {
    position: fixed;
    width: 100%;
    height: 140%;
    z-index: 10;
    transition: transform 5.5s ease-in-out;
    top: 0;
    transform: translateY(200%);
    pointer-events: none; 
  
}.red-block {
    background-color: #0000008f;
     height: 50%;
    width: 100%;
     top: 10%;
}

.green-block {
    background-color: #00000000;
   height: 50%;
     top: 40%;
    width: 100%;
}

.blue-block {
   
    background-color: #4d4d4d00;
    height: 40%;
    width: 100%;

     top: 30%;
}
