* {
    box-sizing: border-box;
}

:root {
    --fsz: clamp(14px, 2vw, 16px)
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #000000;
    font-family: 'Inter var', 'Inter', 'Roboto', sans-serif;
    color: white;
}

button {
    font-size: inherit;
}

.unity-desktop {
    max-width: 100%;
    overflow: hidden;
}

.state_1 {
    pointer-events: none;
    transition: opacity 0.33s ease-in-out;
}

.state_2 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    /* ÐŸÐ»Ð°Ð²Ð½Ð¾Ðµ Ð¸Ð·Ð¼ÐµÐ½ÐµÐ½Ð¸Ðµ opacity Ð·Ð° 0.8 ÑÐµÐºÑƒÐ½Ð´ */
}

.state_3 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    /* ÐŸÐ»Ð°Ð²Ð½Ð¾Ðµ Ð¸Ð·Ð¼ÐµÐ½ÐµÐ½Ð¸Ðµ opacity Ð·Ð° 0.8 ÑÐµÐºÑƒÐ½Ð´ */
}

.state_4 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.state_5 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    width: 100%;
    left: 0;
}


/*
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.section::before,
.section::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 15%;
}

.section::before {
    pointer-events: none;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}

.section::after {
    pointer-events: none;
    bottom: 0;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

#page1 {
    background-color: #161616;
    background-repeat: repeat;
    background-position: left bottom;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 2048px 1024px;
    background-repeat: repeat-x;
}

.container {
    opacity: 0;
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: opacity 2s ease-in-out;
}

.container span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
*/



#textBlock {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.5s, visibility 2.5s;
}

#scrollBlock {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2.5s, visibility 2.5s;
}



.bot-container {
    position: absolute;
    left: calc(2.2vw);
    bottom: 100px;
    width: 100%;
    text-align: left;
    /* Ð’Ñ‹Ñ€Ð°Ð²Ð½Ð¸Ð²Ð°Ð½Ð¸Ðµ Ñ‚ÐµÐºÑÑ‚Ð° Ð¿Ð¾ Ñ†ÐµÐ½Ñ‚Ñ€Ñƒ ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€Ð° */
    padding: 10px;
    /* ÐžÑ‚ÑÑ‚ÑƒÐ¿Ñ‹ Ð²Ð¾ÐºÑ€ÑƒÐ³ Ñ‚ÐµÐºÑÑ‚Ð° */
    width: 100%;
    /* Ð£ÑÑ‚Ð°Ð½Ð°Ð²Ð»Ð¸Ð²Ð°ÐµÐ¼ ÑˆÐ¸Ñ€Ð¸Ð½Ñƒ 100%, Ð½Ð¾ Ð½Ðµ Ð±Ð¾Ð»ÑŒÑˆÐµ 640px */
    max-width: 640px;
    /* ÐœÐ°ÐºÑÐ¸Ð¼Ð°Ð»ÑŒÐ½Ð°Ñ ÑˆÐ¸Ñ€Ð¸Ð½Ð° ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€Ð° */
}

.state3-container,
.state3_2-container {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    /* Занимает 90% ширины экрана */
    height: 20vh;
    /* Занимает 20% высоты экрана */
    max-height: 0vh;
    /* Максимальная высота 20% высоты экрана */
    max-width: 1040px;
    /* Максимальная ширина контейнера */
    padding: 10px;
    /* Отступы вокруг текста */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* Предотвращаем перенос элементов на следующую строку */
    /* align-items: flex-start; */
    /* Выравнивание элементов по левому краю */
    /* align-content: space-around; */
    /* box-sizing: border-box; */
    /* Учитываем padding и border в ширине и высоте */
    /* Минимальный размер 14px, оптимальный 2vw, максимальный 18px */
}

.state3-container {
    top: 15%;
}

.state3_2-container {
    top: 50%;
}

@media (max-width: 640px) {
    .bot-container {
        width: 80%;
        /* ÐÐ° ÑÐºÑ€Ð°Ð½Ð°Ñ… ÑˆÐ¸Ñ€Ð¸Ð½Ð¾Ð¹ Ð¼ÐµÐ½ÑŒÑˆÐµ 640px ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€ Ð·Ð°Ð½Ð¸Ð¼Ð°ÐµÑ‚ 100% ÑˆÐ¸Ñ€Ð¸Ð½Ñ‹ */
    }
}

@media (max-width: 320px) {
    .bot-container {
        width: 320px;
        /* Ð¤Ð¸ÐºÑÐ¸Ñ€ÑƒÐµÐ¼ ÑˆÐ¸Ñ€Ð¸Ð½Ñƒ Ð² 320px Ð½Ð° Ð¾Ñ‡ÐµÐ½ÑŒ Ð¼Ð°Ð»ÐµÐ½ÑŒÐºÐ¸Ñ… ÑÐºÑ€Ð°Ð½Ð°Ñ… */
    }
}

.text-item {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(32px, 3vw, 64px);
    font-weight: bold;
    /* Ð–Ð¸Ñ€Ð½Ð¾Ðµ Ð½Ð°Ñ‡ÐµÑ€Ñ‚Ð°Ð½Ð¸Ðµ Ñ‚ÐµÐºÑÑ‚Ð° */
    margin: -10px 0;
    /* ÐžÑ‚ÑÑ‚ÑƒÐ¿Ñ‹ Ð¼ÐµÐ¶Ð´Ñƒ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð°Ð¼Ð¸ Ñ‚ÐµÐºÑÑ‚Ð° */
    width: fit-content;
}

.text-item:nth-child(1) {
    /* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð¿ÐµÑ€Ð²Ð¾Ð³Ð¾ Ñ‚ÐµÐºÑÑ‚Ð° */
    color: rgb(255 255 255);
}

.text-item:nth-child(2) {
    /* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð²Ñ‚Ð¾Ñ€Ð¾Ð³Ð¾ Ñ‚ÐµÐºÑÑ‚Ð° */
    color: #E91E63;
}

.text-item:nth-child(3) {
    /* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ñ‚Ñ€ÐµÑ‚ÑŒÐµÐ³Ð¾ Ñ‚ÐµÐºÑÑ‚Ð° */
    color: white;
}

.subtext-item {
    position: relative;
    right: 0px;
    /* Ð”Ð¸Ð½Ð°Ð¼Ð¸Ñ‡ÐµÑÐºÐ¾Ðµ ÑÐ¼ÐµÑ‰ÐµÐ½Ð¸Ðµ Ð²Ð»ÐµÐ²Ð¾ */
top: 0;
    /* Ð”Ð¸Ð½Ð°Ð¼Ð¸Ñ‡ÐµÑÐºÐ¾Ðµ Ð²ÐµÑ€Ñ‚Ð¸ÐºÐ°Ð»ÑŒÐ½Ð¾Ðµ ÑÐ¼ÐµÑ‰ÐµÐ½Ð¸Ðµ */
    color: #d5d5d5d4;
    font-family: 'Roboto', sans-serif;
    font-size: var(--fsz);
    /* Ð”Ð¸Ð½Ð°Ð¼Ð¸Ñ‡ÐµÑÐºÐ¸Ð¹ Ñ€Ð°Ð·Ð¼ÐµÑ€ ÑˆÑ€Ð¸Ñ„Ñ‚Ð° */
    margin: 0;
    transition: all 0.3s ease;
    /* ÐŸÐ»Ð°Ð²Ð½Ñ‹Ðµ Ð¿ÐµÑ€ÐµÑ…Ð¾Ð´Ñ‹ Ð´Ð»Ñ Ð²ÑÐµÑ… Ð¸Ð·Ð¼ÐµÐ½ÐµÐ½Ð¸Ð¹ */
}




@media (max-width: 699px) {
    .top-right-menu {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0s 0s;
        pointer-events: none;
    }
}

.dropbtn:focus {
    outline: none;
}



.language-link:hover {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.75);
}

.ScrollDown {
    position: absolute;
    bottom: 12.5vw;
    right: 6.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* ÐÐ°Ñ‡Ð°Ð»ÑŒÐ½Ð¾Ðµ ÑÐ¾ÑÑ‚Ð¾ÑÐ½Ð¸Ðµ Ð¿Ñ€Ð¾Ð·Ñ€Ð°Ñ‡Ð½Ð¾ÑÑ‚Ð¸, Ñ‡Ñ‚Ð¾Ð±Ñ‹ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚ Ð±Ñ‹Ð» Ð½ÐµÐ²Ð¸Ð´Ð¸Ð¼ ÑÐ½Ð°Ñ‡Ð°Ð»Ð° */
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* p {
    color: #e1e1e1;
    font-size: 16px;
    text-align: center;
} */

/* .page2-container span {
    display: inline;
    color: rgb(227 63 123);
    font-size: 24px;
    font-weight: bold;
    margin: 0 5px;
}

.page2-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    
}

.text-container {
    text-align: center;
    margin-bottom: 15%;
}
 */

.chart-container {
    transform: translateY(10%);
    width: 100%;
    max-height: 800px;
    height: auto !important;
}

#fileCountChart {
    width: 100% !important;
}

#page3 .page3-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    /* Ð¸Ð»Ð¸ Ð´Ñ€ÑƒÐ³Ð¾Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ, Ð¿Ð¾Ð´Ñ…Ð¾Ð´ÑÑ‰ÐµÐµ Ð´Ð»Ñ Ð²Ð°ÑˆÐµÐ³Ð¾ Ð´Ð¸Ð·Ð°Ð¹Ð½Ð° */
}

#page3 .text-container {
    text-align: center;
    margin-bottom: 20px;
}

.animated-block {
    position: fixed;
    width: 100%;
    height: 80%;
    z-index: 10;
    transition: transform 0.1s ease-in-out;
    top: 0;
    transform: translateY(-200%);
    /* Ð£Ð±ÐµÐ´Ð¸Ñ‚ÐµÑÑŒ, Ñ‡Ñ‚Ð¾ Ð±Ð»Ð¾ÐºÐ¸ Ð¸Ð·Ð½Ð°Ñ‡Ð°Ð»ÑŒÐ½Ð¾ Ð½Ðµ Ð²Ð¸Ð´Ð½Ñ‹ */
    display: block;
    /* Ð£Ð±ÐµÐ´Ð¸Ñ‚ÐµÑÑŒ, Ñ‡Ñ‚Ð¾ Ð±Ð»Ð¾ÐºÐ¸ Ð½Ðµ ÑÐºÑ€Ñ‹Ñ‚Ñ‹ Ð´Ñ€ÑƒÐ³Ð¸Ð¼ ÑÐ²Ð¾Ð¹ÑÑ‚Ð²Ð¾Ð¼ display */
}

.animated-block {
    position: fixed;
    width: 100%;
    height: 140%;
    z-index: 10;
    transition: transform 5.5s ease-in-out;
    top: 0;
    transform: translateY(200%);
    pointer-events: none;

}

.red-block {
    background-color: #0000008f;
    height: 50%;
    width: 100%;
    top: 10%;
}

.green-block {
    background-color: #00000000;
    height: 50%;
    top: 40%;
    width: 100%;
}

.blue-block {

    background-color: #4d4d4d00;
    height: 40%;
    width: 100%;

    top: 30%;
}