.product{
    position: relative;
    display: inline-block; /* Для визуализации внешних отступов */
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden; /* Убедитесь, что внутреннее содержимое не выходит за границы скругления */
}

.product::after {
    content: ''; /* Необходимо для отображения псевдоэлемента */
    position: absolute;
    left: -5px; /* Смещаем на 5px влево от края контейнера */
    right: -5px; /* Смещаем на 5px вправо от края контейнера */
    bottom: -5px; /* Смещаем на 5px вниз от края контейнера */
    height: 210px; /* Указываем высоту плашки */
    border-radius: 10px; /* Скругление углов плашки */
    background-color: rgba(25,25,25,0.33); /* Цвет фона плашки с прозрачностью */
    z-index: -1; /* Плашка не перекрывает другой контент */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Тень под плашкой */
} 